###
### To connect from docker to localhost, if you are using a Mac host, you can use -
#
# HOSTNAME= docker.for.mac.host.internal
# Or
#
# HOSTNAME = docker.for.mac.localhost
###docker.for.mac.localhost

NATS_URL=nats://docker.for.mac.localhost:4222/
NATS_USER=test
NATS_PW=test
GRAPHQL_URL=http://docker.for.mac.localhost:8080/graphql
LOCAL_GRAPHQL_URL=http://docker.for.mac.localhost:8080/graphql 
CLIENT_URL=http://localhost:3010
ZIPKIN_URL=test
ZIPKIN_PORT=test
LOG_LEVEL=trace
MONGO_URL=mongodb://docker.for.mac.localhost:27017/sample-stack
REDIS_CLUSTER_URL='[{"port":6379,"host":"docker.for.mac.localhost"}]'
REDIS_URL=redis://docker.for.mac.localhost:6379
REDIS_CLUSTER_ENABLED=false
REDIS_SENTINEL_ENABLED=false
BACKEND_URL=http://localhost:8080
CONNECTION_ID=v1
LOCAL_BACKEND_URL=http://localhost:3010