body {
  background-color: #fff;
  color: #ccc;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 13px;
}

div, a {
  outline: none !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}

footer {
  position:fixed;
  bottom: 10;
  left: 0;
  right:0;
  height: 20px;
  background: #007acc;
}

footer > .container {
  padding: 2px;
}

#content {
  height: calc(100vh - 20px);
}

#container {
  height: 100%;
}

.editor-container {
  height: 100%;
  overflow: hidden;
}

.error {
  color: orangered;
}

