#  
# Create `dev.env` file and load following required values
#  
NATS_URL=nats://localhost:4222/
NATS_USER=
NATS_PW=
GRAPHQL_URL=http://localhost:8080/graphql
CLIENT_PORT=3000
ZIPKIN_URL=
ZIPKIN_PORT=
DB_TYPE=mysql
DB_HOST=localhost
DB_USER=mysql
DB_PASSWORD=
DB_SOCKET_PATH=
DB_DATABASE=test
LOG_LEVEL=trace