#  
# Create `dev.env` file and load following required values
#  
NATS_URL=nats://localhost:4222/
NATS_USER=test
NATS_PW=test
GRAPHQL_URL=http://localhost:8080/graphql
CLIENT_URL=http://localhost:3000
ZIPKIN_URL=test
ZIPKIN_PORT=test
LOG_LEVEL=trace