
.login-form #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  .login-form #components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }