<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="demo">
        <div id="content">
            Try building the demo:
            <pre>
        </pre> ...and refreshing this page!
        </div>
    </div>
    <footer class="dark">
        <section class="container copyright">
            CDMBase LLC
        </section>
    </footer>
</body>

</html>